<div class="caixa">
    <div class="detalhe">
        <div class="box">
            <div class="logo">
                <div class="txt">
                    <h4 class="title">Editar Transação</h4>
                </div>
            </div>
        </div>
        <div class="loginson">
            {{#if alerta}}
            {{#if tipo}}
            <div class="alert alert-danger" role="alert">
                {{alerta}}
            </div>
            {{else}}
            <div class="alert alert-danger" role="alert">
                {{alerta}}
            </div>
            {{/if}}
            {{/if}}
            <form action="/editar" method="post">
                <div class="caixote">
                    <div class="inputs">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control input " id="floatingInput"
                                placeholder="exemplo@exemplo.com" name="descricao" value="{{descricao}}" autocomplete="off"
                                required>
                            <label for="floatingInput">Titulo da Transação</label>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Data</span>
                            <input type="date" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1" name="dia" value="{{dia}}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Hora</span>
                            <input type="time" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1" name="hora" value="{{hora}}" required>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
                                name="valor" value="{{valor}}" required>
                            <label for="floatingInput">Valor</label>
                        </div>
                        <div class="cat">
                            <select class="form-select" aria-label="Default select example" name="categoria" value="{{categoria}}">
                                <option disabled selected>Categoria</option>
                                <option value="Alimentação">Alimentação</option>
                                <option value="Freelancer">Freelancer</option>
                                <option value="Lazer">Lazer</option>
                                <option value="Salário">Salário</option>
                                <option value="Saúde">Saúde</option>
                                <option value="Supermercado">Supermercado</option>
                            </select>
                        </div>
                        <div class="tipo-transacao otacaixa">
                            <div class="aux">
                                <label for="tipo">Tipo de Transação</label>
                                <div class="form-check">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Saída
                                    </label>
                                    {{#if tipo}}
                                    <input class="form-check-input" type="checkbox" value="0" name="tipo"
                                        id="flexCheckChecked" checked>
                                    {{else}}
                                    <input class="form-check-input" type="checkbox" value="0" name="tipo"
                                        id="flexCheckChecked">
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="goback"><a class="link-back" href="/"><i class='bx bx-arrow-back'></i>
                                Voltar</a></button>
                        <button type="submit" class="vai">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .aux{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .otacaixa {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
    }

    .alert {
        text-align: center;
    }

    .btns {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }

    button {
        border: none;
        border-radius: 6px;
        padding: 5px;
    }

    .caixa {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0.5rem;
        height: 88vh;
        width: 100vw;
    }

    .detalhe {
        background-color: #c5ccd3;
        border-radius: 6px;
        box-shadow: 10px 10px 6px -3px #87848769;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
    }

    .goback {
        padding: 7px;
    }

    .goback:hover {
        background-color: #a2a3a7;
    }

    .link-back {
        text-decoration: none;
    }

    .title {
        margin-top: 1rem;
    }

    .vai {
        background-color: #33cc95;
        color: #fefefe;
    }

    .vai:hover {
        background-color: #37a37b;
    }

    @media screen and (max-width: 1023px) {
        .detalhe{
            width: 90%;
        }
    }

</style>